<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="com.example.mybatis.domain.member.Member"/>
        <package name="com.example.mybatis.domain.department.Department"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/MemberMapper.xml"/>
        <mapper resource="mapper/DepartmentMapper.xml"/>
    </mappers>
</configuration>